<span class="uk-h1 uk-icon-star{{badge1}}"></span>
<span class="uk-h1 uk-icon-star{{badge2}}"></span>
<span class="uk-h1 uk-icon-star{{badge3}}"></span>
<div>
  <small class="uk-h4">50%</small>
  <small class="uk-h4">75%</small>
  <small class="uk-h4">100%</small>
</div>

