<nav class="tm-navbar uk-navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">
    {{#if showBackButton}}
      {{#link-to 'list' class='uk-navbar-brand uk-text-contrast'}}<span class="uk-icon-chevron-left"></span>{{/link-to}}
    {{/if}}
    <div class="uk-navbar-brand uk-navbar-center"><img src="logo-white.svg" width="40" height="auto" title="UIkit" alt="UIkit"></div>
  </div>
</nav>
<div class="tm-middle">
  <div class="uk-container uk-container-center">
    {{outlet}}
  </div>
</div>
