<nav class="tm-navbar uk-navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">
    <div class="uk-navbar-brand uk-navbar-center"><img src="//getuikit.com/v2/docs/images/logo_uikit.svg" width="90" height="30" title="UIkit" alt="UIkit"></div>
  </div>
</nav>
<div class="tm-middle">
  <div class="uk-container uk-container-center">
    {{outlet}}
  </div>
</div>
